body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; 
}

.App {
  border: 2px solid #0a0a0a; 
  background-color: #fff; 
  padding: 20px;
  width: 80%; 
  margin: 0 auto;
}
.Header h1 {
  text-align: left;
}

.cv-image {
    float: left;
}
/* Styles pour le formulaire */
.form-container {
  text-align: left;
  margin: 0 auto;
  width: 50%;
  padding: 10px; 
  border: 1px solid #000000; 
  border-radius: 4px; 
  background-color: rgba(194, 201, 202, 0.7); 
}

/* Styles pour les étiquettes */
.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Styles pour les champs de saisie */
.form-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styles pour les boutons */
.form-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.formulaire-title {
  color: red;
  font-size: 50px;
}
